{% extends 'base.html.twig' %}

{% block title %}Annoucement index{% endblock %}

{% block body %}
    <h1>Annoucement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annoucement in annoucements %}
            <tr>
                <td>{{ annoucement.id }}</td>
                <td>{{ annoucement.title }}</td>
                <td>{{ annoucement.description }}</td>
                <td>{{ annoucement.price }}</td>
                <td>{{ annoucement.picture }}</td>
                <td>
                    <a href="{{ path('app_annoucement_show', {'id': annoucement.id}) }}">show</a>
                    <a href="{{ path('app_annoucement_edit', {'id': annoucement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annoucement_new') }}">Create new</a>
{% endblock %}
